version: 2.1
orbs:
  gcp-gcr: circleci/gcp-gcr@0.16
  helm3-deploy: freighthub/helm3-deploy@2.0
  helm-push: freighthub/helm-push@0.1
executors:
  build:
    docker:
      - image: cimg/base:2024.06

workflows:
  ci-cd:
    jobs:

      - gcp-gcr/build-and-push-image:
          name: Build Image
          executor: build
          context: gcp-oidc-artifact-registry
          dockerfile: build/package/Dockerfile
          registry-url: europe-west1-docker.pkg.dev
          use_oidc: true
          image: docker/helm-rollback-web
          tag: ${CIRCLE_SHA1}
          # https://circleci.com/docs/2.0/building-docker-images/#docker-version
          remote-docker-version: default
          setup-remote-docker: true
          use-docker-layer-caching: true

      - helm3-deploy/diff-deploy:
          name: Diff against Sandbox
          context:
              - gcp-oidc-deployer-sandbox
              - github-oidc
          namespace: sre-tooling
          values_base: sandbox
          chart_path: deployments/helm/helm-rollback-web
          filters:
            branches:
              ignore:
                - main

      - helm3-deploy/diff-deploy:
          name: Diff against Production
          context:
              - gcp-oidc-deployer-production
              - github-oidc
          namespace: sre-tooling
          values_base: production
          chart_path: deployments/helm/helm-rollback-web
          filters:
            branches:
              ignore:
                - main

      - helm-push/to-artifact-registry:
          name: push-helm-chart
          context: gcp-oidc-artifact-registry
          requires:
            - Build Image

      - helm3-deploy/main-deploy:
          name: Deploy Sandbox
          chart_path: deployments/helm/helm-rollback-web
          values_base: sandbox
          release_name: $CIRCLE_PROJECT_REPONAME
          namespace: sre-tooling
          context:
              - gcp-oidc-deployer-sandbox
              - github-oidc
          requires:
            - Build Image
          filters:
            branches:
              ignore:
                - /dependabot\/.+/

      - helm3-deploy/main-deploy:
          name: Deploy Production
          chart_path: deployments/helm/helm-rollback-web
          values_base: production
          release_name: $CIRCLE_PROJECT_REPONAME
          namespace: sre-tooling
          context:
              - gcp-oidc-deployer-production
              - github-oidc
          requires:
            - Build Image
          filters:
            branches:
              only:
                - main
